*{
    margin: 0;
    padding: 0;
}

body {
  color: rgb(221, 204, 231);
  background-color: rgb(245, 214, 236);
  font-family: 'Roboto', sans-serif;
}

header {
    color: rgb(100, 17, 96);
    background-color: rgb(210, 193, 240);
}
p {
    color: rgb(34, 7, 65);
}
h2 {color: blueviolet;}

.titre {
    color: rgb(192, 19, 76);
}

.titre2 {
border-bottom: 1px solid rgb(116, 7, 131) ;
}

#paragraphe {
    border: solid 1px black ;
}

a {
    color: darkslateblue;
    text-decoration: none;
}


a:visited {
color: blueviolet;
text-decoration: underline;
}

a:hover{
    color: black;
}

p:hover{
    color: black;
    background-color: ;
}